<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comments</title>
</head>
<body>
    <h1>Form Create a Comment</h1>
    <form action="/comments" method="POST">
        <section>
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Username" id="">
        </section>
        <section>
            <label for="">Comment</label>
            <textarea name="text" id="" cols="30" rows="5"></textarea>
        </section>
        <button type="submit">Submit</button>
    </form>
    
    <a href="/comments">Back</a>
</body>
</html>